/* 
    Created on : Jul 16, 2014, 2:31:37 AM
    Author     : prawee
*/
.navbar-default {
    background-color: #00a4cb;
    border-color: #2e4b63;
}
.navbar-default .navbar-brand {
    color: #101617;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #f4edfb;
}
.navbar-default .navbar-text {
    color: #101617;
}
.navbar-default .navbar-nav > li > a {
    color: #101617;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f4edfb;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #f4edfb;
    background-color: #2e4b63;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #f4edfb;
    background-color: #2e4b63;
}
.navbar-default .navbar-toggle {
    border-color: #2e4b63;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #2e4b63;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #101617;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #101617;
}
.navbar-default .navbar-link {
    color: #101617;
}
.navbar-default .navbar-link:hover {
    color: #f4edfb;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #101617;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #f4edfb;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #f4edfb;
        background-color: #2e4b63;
    }
}
